name: Build Masscan Windows Executable

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install MinGW and Make
      run: choco install mingw make -y
      
    - name: Compile Masscan
      run: mingw32-make
      
    - name: Upload Binary
      uses: actions/upload-artifact@v4
      with:
        name: masscan-windows-exe
        path: masscan.exe